{% extends 'header1.html'  %} 

{%  block myContent  %}
<!-- <body style="background-color: blue;"> -->
    <center><h1 style="color:blue;">Delete Prepaid</h1></center>
<form action="http://127.0.0.1:8000/Admins/deletesearch1/" method="post">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                
                <tr>
                    <td>Prepaid Plan</td>
                    <td><input name="prename" type="text" class="form-control"></td>
                </tr>
                
                    <td></td>
                    <td><center><button type="submit" class="btn-success form-control" >SEARCH</center</button></td>
                </tr>
            </table>
        </form>
            {% if data %} 
            <form action="http://127.0.0.1:8000/Admins/delete_action_api1/" method="post">
<table class="table">
    {% for i in data %} 
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>prename</td>
        <td><input name="newprename" value="{{i.prename}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>preamount</td>
        <td><input name="newpreamount" value="{{i.preamount}}" type="number" class="form-control" readonly></td>
    </tr>
    
    <tr>
        <td>prevalidity</td>
        <td><input name="newprevalidity" value="{{i.prevalidity}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>prebenefits</td>
        <td><input name="newprebenefits" value="{{i.prebenefits}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>preofferdiscount</td>
        <td><input name="newpreofferdiscount" value="{{i.preofferdiscount}}" type="text" class="form-control" readonly></td>
    </tr>
    
    
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-danger">DELETE</button></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endif %}


        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
{% endblock %}


 
    
    
    
    
