{% extends "header.html" %}

{% block myContent %}

<form action="http://127.0.0.1:8000/VoizFonica/updatequery/" method="post">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
              <center><h2><u>Resolve Query</u></h2></center>
             <table class="table table-borderless">
                    <tr>
                        <td>Query ID</td>
                        <td><input name="id" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-success">Search</button></td>
                    </tr>
                    
                </table></form>
                {% if data %} 
                <form action="http://127.0.0.1:8000/VoizFonica/update_data_readquery/" method="post">
    <table class="table table-borderless">
        {% for i in data %} 
        <tr>
            <td>ID </td>
            <td><input name="newid" value="{{i.id}}" type="text" class="form-control" readonly></td>
            </tr>
            <tr>
                <td>mobile Number</td>
                <td>
                    <input name="mobno" type="text" class="form-control" readonly>
                </td>
            </tr>
            <tr>
                <td>Query Name</td>
                <td>
                    <input name="queryname" type="text" class="form-control" readonly>

                </td>
            </tr>
            <tr>
                <td>Query Description</td>
                <td>
                   <textarea name="querydes" id="" cols="80" rows="10" class="form-control" readonly></textarea>

                </td>
            </tr>
            <tr>
                <td>Query Solution</td>
                <td>
                    <input name="querysolution" type="text" class="form-control" >

                </td>
            </tr>
        
        <tr>
            <td></td>
            <td><center><button class="btn btn-primary form-control">Resolve </button></center></td>
        </tr>
        {% endfor %}
    </table>
    </form>
    {% endif %}
    
    
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    
        </div>
    </div>



<!-- <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/VoizFonica/update_data_readquery/" method="post">
                
            <table class="table table-borderless">
                <tr>
                    <td>ID </td>
                    <td><input name="newid" value="{{i.id}}" type="text" class="form-control" readonly></td>
                    </tr>
                    <tr>
                        <td>mobile Number</td>
                        <td>
                            <input name="mobno" type="text" class="form-control" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>Query Name</td>
                        <td>
                            <input name="queryname" type="text" class="form-control" readonly>
        
                        </td>
                    </tr>
                    <tr>
                        <td>Query Description</td>
                        <td>
                           <textarea name="querydes" id="" cols="80" rows="10" class="form-control" readonly></textarea>
        
                        </td>
                    </tr>
                    <tr>
                        <td>Query Solution</td>
                        <td>
                            <input name="querysolution" type="text" class="form-control" >
        
                        </td>
                    </tr>
                
                <tr>
                    <td></td>
                    <td><center><button class="btn btn-primary form-control">Resolve </button></center></td>
                </tr>
            </table>
        </form>

        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div> -->




{% endblock %} 